@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h4{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: black;
}
.Dni {
    display: inline;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 210px;
    height: 50px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: rgb(182, 181, 181);
    background-color: white;
    margin-top: 25px;
}

.MA {
    display: inline;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 230px;
    height: 50px;
    background-color: rgb(20, 10, 10);
    color: aliceblue;
    margin-left: 50px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

h2 {
    color: aliceblue;
    text-align: center;
    margin-left: 50px;
    padding-right: 50px;
    font-size: 130px;
    padding-top: 50px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.psr{
    border-radius: 10vh;
    width: 19%;
    display: inline;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(255, 238, 0);
    color:black;
    margin-left: 40%;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}
.uni {
    text-align: center;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}
.consultas button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.patente {
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-top: 25px;
}

.patente button {
    margin-top: 25px;
}

.homebg {
    background-color: rgb(132, 197, 232);
    height: 60vh;
    font-family: "Reddit Sans", sans-serif;
}
.cheq{
    background-color:aliceblue;
    margin-left: 10%;
    margin-top: 30px;
    height: 170px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
}
.cheqp{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    padding-top: 1px;
}
.cheqh{
    color: rgb(0, 0, 0);
    padding-top: 68px;
    margin-left: 20px;
}
.resh{
    color: rgb(0, 0, 0);
    padding-top: 68px;
    margin-left: 20px;
}
.creah{
    color: rgb(0, 0, 0);
    padding-top: 68px;
    margin-left: 20px;
}

.res{
    background-color:aliceblue;
    margin-top: 30px;
    height: 170px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
}
.resp{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    padding-top: 1px;
}
.crea{
    background-color:aliceblue;
    margin-top: 30px;
    margin-right: 90px;
    height: 170px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
}
.config{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    padding-top: 1px;
}
.Cards{
    display: flex;
    justify-content: space-between;
}
.xq{
    background-color:rgb(174, 172, 172);
    margin-top: 30px;
    margin-left: 10%;
    border-radius: 10px;
    width: 25%;
    height: 260px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}
.pq{
    padding-top: 20px;
}
.C2r{
    margin-top: 60px;
    margin-left: 35px;
    width: 85%;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    padding: 10px;
}
.Moni{
    background-color:aliceblue;
    margin-left: 10%;
    margin-top: 30px;
    height: 100px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
    text-align: center;
}
.monih{
    padding-top: 35px;
}
.Ahorra{
    background-color:aliceblue;
    margin-left: 10%;
    margin-top: 30px;
    height: 100px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
    text-align: center;
}
.ahr{
    padding-top: 35px;
}
.GF{
    background-color:aliceblue;
    margin-left: 10%;
    margin-top: 30px;
    height: 120px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
    text-align: center;
}
.gfh{
    padding-top: 35px;
}
.Notif{
    background-color:aliceblue;
    margin-left: 10%;
    margin-top: 30px;
    height: 100px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
    text-align: center;
}
.notifh{
    padding-top: 35px;
}

