@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
h4 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.Dni {
    display: inline;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 210px;
    height: 50px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: rgb(182, 181, 181);
    background-color: white;
    margin-top: 25px;
}
.MA {
    display: inline;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 230px;
    height: 50px;
    background-color: rgb(20, 10, 10);
    color: aliceblue;
    margin-left: 50px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}
h2 {
    color: aliceblue;
    margin-left: 50px;
    padding-right: 50px;
    font-size: 130px;
    padding-top: 50px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.psr {
    border-radius: 10vh;
    width: 19%;
    display: inline;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(255, 238, 0);
    color: black;
    margin-left: 40%;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.uni {
    text-align: center;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.patente {
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-top: 25px;
}

.patente button {
    margin-top: 25px;
}

.homebg {
    background: linear-gradient(to bottom right, #1D4ED8, #0EA5E9, #3B82F6); /* bg-gradient-to-br from-blue-700 via-sky-500 to-blue-500 */
    padding-top: 3rem; /* py-12 */
    padding-bottom: 3rem; /* py-12 */
    padding-left: 1.5rem; /* px-6 */
    padding-right: 1.5rem; /* px-6 */
    text-align: center;
    font-family: "Reddit Sans", sans-serif;
    height: auto; /* Ajustar la altura según sea necesario */
}



.cheq {
    background-color: aliceblue;
    margin-top: 30px;
    height: 170px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    padding-top: 68px;
    margin-left: 10%;
    text-align: center;
}

.res {
    background-color: aliceblue;
    margin-top: 30px;
    height: 170px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    padding-top: 68px;
    margin-left: 20px;
    text-align: center;
}

.crea {
    background-color: aliceblue;
    margin-top: 30px;
    margin-right: 90px;
    height: 170px;
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    padding-top: 68px;
    text-align: center;
    
}

.config {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    padding-top: 1px;
}

.Cards {
    display: flex;
    justify-content: space-between;
}

.Cards2 {
    display: flex;
}

.xq {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    margin-top: 30px;
    margin-left: 10%;
    border-radius: 10px;
    width: 25%;
    height: 260px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.pq {
    padding-top: 20px;
}

.C2r {
    margin-top: 60px;
    margin-left: 35px;
    width: 85%;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    padding: 10px;
}
.C2r:hover{
        background: linear-gradient(135deg, #1D4ED8, #1E40AF); /* Gradiente de azul más oscuro al pasar el ratón */
}

.card2 {
    background-color: aliceblue;
    margin-top: 30px;
    height: 130px;
    width: 90%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    border-radius: 30px;
    text-align: center;
    padding-top: 35px;
}

.card3 {
    padding-left: 32px;

}

.div {
    margin-left: 120px;
}

.card-container {
    display: flex;
}

/* From Uiverse.io by SteveBloX */
.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.bg-container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 2vh;
}

.reviews-container {
    background-color: #333;
    /* Fondo oscuro */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 1200px;
}

.reviews-header h1 {
    color: #fff;
    margin-bottom: 20px;
}

.reviews-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: calc(33.333% - 40px);
    /* Tres tarjetas por fila */
    box-sizing: border-box;
}

.review-text {
    margin-bottom: 10px;
}

.review-stars {
    margin-bottom: 10px;
    color: #d9e31b;
}

.review-author {
    font-weight: bold;
}

.pregu {
    background-color: #444;
    width: 22.7%;
    height: 10vh;
    margin-left: 39.5vh;
    border-radius: 3vh;
}

.PreFre {
    font-size: 1.4rem;
    text-align: center;
}

/*H1 de preguntas frecuentes*/
.preguntas {
    margin-left: 20px;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
    border-radius: 1vh;
    margin-right: 2vh;
    max-height: 84vh;
    width: 35%;
}

/*es el contenedor a la clase de las preguntas*/
.preguntas1 {
    font-size: 16px;
    padding-right: 1vh;
    padding-top: 1vh;
    padding-left: 1vh;
}

/*son las preguntas*/
.Questions {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

/* Estilos para DropdownCard */
.dropdown-card {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 3px solid #ffffff;
    width: 87%;
    margin-left: 50px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.dropdown-title {
    background-color: #636363;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.dropdown-card.open .dropdown-content {
    max-height: 500px; /* Ajusta este valor según sea necesario */
    opacity: 1;
}

.dropdown-text {
    padding: 1rem;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
}

@media (min-width: 1000px) and (max-width: 1400px) {
    .homebg {
        padding-top: 6rem; /* md:py-24 */
        padding-bottom: 6rem; /* md:py-24 */
    }
    .Nav h1 {
        padding-top: 17px;
        font-size: 30px;
        min-width: 140px;
    }
    .Nav {
        height: 65px !important;
    }
    a.test {
        font-size: 12px;
        padding-top: 30px;
    }
    .buton {
        display: flex;
        margin-top: 0px;
    }

    .buton button {
        margin-right: 15px;
        margin-top: 15px !important;
    }
    .In, .Cr {
        margin-right: 15px;
        width: 130px;
        height: 40px; /* Ajustar la altura según sea necesario */
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 0px;
    }
    .In p, .Cr p {
  
        margin: 0; /* Eliminar el margen para centrar el texto */
        font-size: 14px; /* Ajustar el tamaño de fuente según sea necesario */
    }
    h2 {
        font-size: 91px !important;
    }
    .patente button {
        margin-top: 25px;
        font-size: 15px;
    }
}