.container{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.form1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 60vh;
  height: 45vh;
  background-color: #d2d2d2;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title1 {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title1::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title1::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title1::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

 .signin1 {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin1 {
  text-align: center;
}

.signin1 a {
  color: royalblue;
}

.signin1 a:hover {
  text-decoration: underline royalblue;
}


.form1 label {
  position: relative;
}

.form1 label .input1 {
  width: 260%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form1 label .input1 + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form1 label .input1:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form1 label .input1:focus + span,.form1 label .input1:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form1 label .input1:valid + span {
  color: green;
}

.submit1 {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit1:hover {
  background-color: rgb(56, 90, 194);
}
.reg{
  cursor: pointer;
  color: blue;

}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}