@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.Nav {
    background-color: #a5d7e8;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-left: 20px;
    padding-top: 20px;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: white;
    cursor: pointer;
}
.test{
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: aliceblue;
    padding-top: 40px;
    margin-right: 53%;
    text-decoration: none;
}
.In {
    display: inline-block;
    background-color: #E8DD89;
    color: black;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px;
    width: 130px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.Cr {
    display: inline-block;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 130px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}
.buton{

}
.buton button {
    margin-right: 15px;
    margin-top: 25px;
}