@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.Nav {
    background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Desenfoque de fondo */
    -webkit-backdrop-filter: blur(10px); /* Desenfoque de fondo para Safari */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde semi-transparente */
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: sticky; /* Hacer que el navbar sea sticky */
    top: 0; /* Posición en la parte superior */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

h1 {
    margin-left: 20px;
    padding-top: 20px;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: black;
    cursor: pointer;
}
.test{
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: aliceblue;
    padding-top: 40px;
    margin-right: 53%;
    text-decoration: none;
}
.In {
    display: inline-block;
    background: linear-gradient(135deg, #FFEB3B, #FFC107); /* Gradiente de amarillo */
    color: black;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px;
    width: 130px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    cursor: pointer;
    transition: background 0.3s ease; /* Transición suave para el fondo */
}

.In:hover {
    background: linear-gradient(135deg, #FFC107, #FFB300); /* Gradiente de amarillo más intenso al pasar el ratón */
}

.Cr {
    display: inline-block;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 130px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.Cr:hover {
    background: linear-gradient(135deg, #1D4ED8, #1E40AF); /* Gradiente de azul más oscuro al pasar el ratón */
}
.buton button {
    margin-right: 15px;
    margin-top: 25px;
}